/V1_17_R1/target/
/V1_17_R1/pom.xml.versionsBackup
/V1_18_R2/target/
/V1_18_R2/pom.xml.versionsBackup
/V1_19_R3/target/
/V1_19_R3/pom.xml.versionsBackup
/V1_20_R1/target/
/V1_20_R1/pom.xml.versionsBackup
/V1_20_R2/target/
/V1_20_R2/pom.xml.versionsBackup
/Core/pom.xml.versionsBackup
/Core/target/
/pom.xml.versionsBackup
/NMS/pom.xml.versionsBackup
/NMS/target/
/.idea/
/target/
