/V1_17_R1/target/
/V1_18_R2/pom.xml.versionsBackup
/V1_19_R1/pom.xml.versionsBackup
/V1_19_R2/target/
/V1_18_R2/target/
/V1_19_R2/pom.xml.versionsBackup
/V1_19_R1/target/
/Core/pom.xml.versionsBackup
/V1_17_R1/pom.xml.versionsBackup
/Core/target/
/pom.xml.versionsBackup
/NMS/pom.xml.versionsBackup
/NMS/target/
/.idea/
/target/
